$fs1: 15px;
$fs2: 20px;
$fs3: 30px;
$color-black1: #0a0a0a;
$color-black2: #323232;
$color-black3: #222;
$color-orange1 : #d6b161;
$color-gray1: #a9a8a8;
$dark-overlay1: rgba(0, 0, 0, .5);
$dark-overlay2: rgba(0, 0, 0, .1);
$light-overlay3: rgba(255, 255, 255, .9);
$mobile-width: 414px;
$tablet-width: 820px;
$desktop-width: 1200px;