* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

.form-input__text {
  padding: 20px 0px;
}

.form-input__text input[type='text'] {
  width: 100%;
  font-size: 20px;
  padding: 10px 10px;
  margin: 0px;
  background: #fff;
  border: none;
  outline: none;
}

.form-input__text input[type='text']:focus ~ div:after {
  width: 100%;
}

.form-input__text div {
  position: relative;
  width: 100%;
  padding: 1px;
  background: #554b4b;
}

.form-input__text div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f5af19));
  background: linear-gradient(to right, #f12711, #f5af19);
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.btn {
  padding: 20px 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn .btn__main {
  position: relative;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  overflow: hidden;
  cursor: pointer;
}

.btn .btn__main p {
  position: relative;
  z-index: 2;
}

.btn .btn__main:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0px;
  width: 0px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#11998e));
  background: linear-gradient(to right, #38ef7d, #11998e);
  -webkit-transform: skew(40deg);
          transform: skew(40deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn .btn__main:hover:before {
  width: 110%;
}

.btn .btn__main#print-invoice {
  pointer-events: none;
  opacity: 0.2;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 850px;
}

.main .left-column {
  display: inline-block;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.main .right-column {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 30px;
}

.right-column .nav-bar {
  text-align: center;
  padding: 20px 0px;
}

.right-column .nav-bar i,
.right-column .nav-bar h3 {
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#00b4db), to(#0083b0));
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  -webkit-text-fill-color: transparent;
  margin: 0px 10px;
}

.right-column .main-title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #2929b1;
  padding: 10px 0px;
  border-bottom: 3px #0e0c0c dashed;
}

.right-column .main-form {
  padding: 10px 0px;
}

.right-column .main-form h3 {
  font-size: 30px;
  line-height: 30px;
  padding: 10px 0px;
}

.right-column .main-form .car-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
}

.right-column .main-form .car-choose div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

.right-column .main-form .car-choose div label {
  padding: 0 10px;
  font-size: calc(20px + 2px);
  cursor: pointer;
  line-height: 30px;
}

.right-column .main-form .car-choose div input[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 3px;
  font-size: 25px;
  border: solid 3px #0e0c0c;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.right-column .main-form .car-choose div input[type='radio']:before {
  position: abolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  -webkit-box-shadow: 0 0 15px 15px #887b64 inset;
          box-shadow: 0 0 15px 15px #887b64 inset;
}

.right-column .main-form .car-choose div input[type='radio']:checked {
  border-color: #887b64;
}

.right-column .main-form .car-choose div input[type='radio']:checked:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.right-column .main-form .car-choose div input[type='radio']:checked + label {
  color: #887b64;
}

.right-column .price {
  display: none;
  font-size: 30px;
  padding: 30px 0 30px 20px;
  background: #887b64;
  border-radius: 10px;
}

.right-column .price .amount {
  padding: 0px 10px;
}

.right-column .price .amount:after {
  content: ' VND';
}

.invoice {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.invoice .invoice__display {
  position: relative;
  width: 50%;
  height: 80%;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 0px #554b4b;
          box-shadow: 0 0 10px 0px #554b4b;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.invoice .invoice__display .invoice__display--header {
  padding: 20px;
  font-size: 30px;
  border-bottom: solid 3px #554b4b;
}

.invoice .invoice__display .invoice__display--main {
  padding: 30px 10px;
  height: 80%;
}

.invoice .invoice__display .invoice__display--main--title {
  font-size: 20px;
  font-weight: 400;
}

.invoice .invoice__display .invoice__display--main ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
  list-style-type: none;
  border-top: 2px solid #554b4b;
  padding: 20px 0;
}

.invoice .invoice__display .invoice__display--main ul li {
  text-decoration: none;
}

.invoice .invoice__display .invoice__display--main ul li:nth-child(2)::after {
  content: ' km';
}

.invoice .invoice__display .invoice__display--main .total_amount {
  background-color: #CED1A3;
  color: brown;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.invoice .invoice__display .invoice__display--main .total_amount ul {
  border-top: none;
}

.invoice .invoice__display .invoice__display--main .total_amount ul li:after {
  content: '';
}

.invoice .invoice__display .invoice__diplay--footer {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.invoice .invoice__display .invoice__diplay--footer button {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #554b4b;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */